In [8]:
from preprocess import load, preprocess
from train import train_crypto, train_test_split
from config import config_model
from save import save_model
from visualize import visualization

In [9]:
df, asset_details = load("train.csv", "asset_details.csv")

In [10]:
df_without_null_scaled = preprocess(df, asset_details)

In [11]:
df_without_null_scaled

,Name,Open,High,Low,Close,Volume,VWAP,Target
0,Bitcoin Cash,-0.024067,-0.022942,-0.024679,-0.024478,-0.283093,-0.024759,-0.004218
1,Binance Coin,-0.500484,-0.500412,-0.500508,-0.500482,-0.260371,-0.500483,-0.014399
2,Bitcoin,2.281239,2.296402,2.266521,2.284183,-0.278361,2.279630,-0.014643
3,EOS_IO,-0.500659,-0.500586,-0.500685,-0.500658,2.255234,-0.500659,-0.013922
4,Ethereum Classic,-0.496986,-0.496939,-0.496994,-0.496992,-0.243965,-0.496990,-0.008264
...,...,...,...,...,...,...,...,...
97599,Binance Coin,-0.498688,-0.498613,-0.498699,-0.498672,-0.267685,-0.498678,-0.002602
97600,Bitcoin,2.483343,2.472935,2.485137,2.481164,-0.283053,2.481570,-0.002134
97601,EOS_IO,-0.500328,-0.500257,-0.500350,-0.500326,-0.265686,-0.500327,-0.005362
97602,Ethereum Classic,-0.495307,-0.495272,-0.495307,-0.495318,-0.175423,-0.495306,0.001431
97603,Ethereum,-0.259406,-0.260683,-0.258670,-0.259389,-0.209794,-0.259409,0.002114

In [12]:
names = set(df["Name"])

In [13]:
names

{'Binance Coin',
 'Bitcoin',
 'Bitcoin Cash',
 'EOS_IO',
 'Ethereum',
 'Ethereum Classic',
 'Litecoin',
 'Monero'}

In [14]:
%%time
for name in names:
    X_train, X_valid, y_train, y_valid = train_test_split(name, df_without_null_scaled)
    model = train_crypto(name, X_train, y_train)
    save_model(name, model)

CPU times: user 4min 43s, sys: 79.9 ms, total: 4min 43s
Wall time: 1min 12s